:root {
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: rgba(133, 127, 127, 0.974);
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btnOp: rgb(138, 219, 243);
    --btnOp-hover: rgb(91, 209, 245);
    --btnOp-active: rgb(53, 143, 170);
    --btn-red: rgb(237, 147, 147);
    --btn-red-hover: rgb(241, 114, 114);
    --btn-red-active: rgb(219, 88, 88);
    --btn-blue: rgb(129, 129, 227);
    --btn-blue-hover: rgb(100, 100, 229);
    --btn-blue-active: rgb(65, 65, 225);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    /* footer support */
    margin-bottom: 100px;
    background-size: cover;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}


/* Main */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
    margin-top: 200px;
}

.screen {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

.screen-last {
    min-height: 32px;
    font-size: 20px;
}

.screen-current {
    min-height: 64px;
    font-size: 40px;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.span-2 {
    grid-column: span 2;
}

.btn {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--btn);
    font-size: 20px;
}

.btnOp {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--btnOp);
    font-size: 20px;
}

.btnOp:hover {
    background-color: var(--btnOp-hover);
}

.btnOp:active {
    background-color: var(--btnOp-active);
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    background-color: var(--btn-active);
}

.btn-red {
    background-color: var(--btn-red);
}

.btn-red:hover {
    background-color: var(--btn-red-hover);
}

.btn-red:active {
    background-color: var(--btn-red-active);
  }

.btn-blue {
    background-color: var(--btn-blue);
}

.btn-blue:hover {
    background-color: var(--btn-blue-hover);
}

.btn-blue:active {
    background-color: var(--btn-blue-active);
}

/* Disables input spinners in calc screen */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }
  
  .fa-github {
    color: var(--font);
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
  }